@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
	font-family: "Roboto", sans-serif;
	color: var(--text);
}
@import "tailwindcss";

:root {
	--background: #f8f5ef;
	--surface: #ffffff;
	--primary: #055309eb;
	--text: #1f2937;
	--muted: #6b7280;
	--border: #e5e7eb;
}

.dark {
	--background: #0f172a;
	--surface: #1e293b;
	--primary: #036d2a;
	--text: #f8fafc;
	--muted: #94a3b8;
	--border: #334155;
}

::-webkit-scrollbar {
	width: 10px;
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	background: var(--background-body);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, #e63946, #457b9d);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(180deg, #d62828, #1d3557);
}
